@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: theme(colors.zinc.200) transparent;
  }

  html {
    text-rendering: optimizeLegibility;
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(1.5rem);
    }
  }

  @keyframes slideOut {
    to {
      opacity: 0;
      transform: translateY(-1.5rem);
    }
  }
}
