@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
  --font-serif:
    "Source Serif VF", ui-serif, Georgia, Cambria, "Times New Roman", Times,
    serif;

  --animate-wave: wave 0.7s ease-in-out 2 forwards;
  @keyframes wave {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}

@utility max-inline-* {
  max-inline-size: calc(var(--spacing) * --value(integer));
  max-inline-size: --value([ *]);
}

@custom-variant between {
  :where(& > :not(:last-child)) {
    @slot;
  }
}

@layer base {
  html {
    @apply h-full font-serif antialiased;
    font-optical-sizing: auto;
    font-style: normal;
  }

  body {
    @apply flex min-h-full flex-col;
  }

  @font-face {
    font-family: "Source Serif VF";
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    unicode-range: U+000-5FF;
    src: url("/fonts/SourceSerif4Variable-Roman.otf.woff2")
      format("woff2-variations");
  }

  @font-face {
    font-family: "Source Serif VF";
    font-weight: 200 900;
    font-style: italic;
    font-stretch: normal;
    font-display: swap;
    unicode-range: U+000-5FF;
    src: url("/fonts/SourceSerif4Variable-Italic.otf.woff2")
      format("woff2-variations");
  }
}
