@layer typography {
	:root {
		/* https://fluid-type-scale.com */
		--text-sm: clamp(0.8rem, 0.16vi + 0.74rem, 0.89rem);
		--text-base: clamp(1rem, 0.33vi + 0.87rem, 1.19rem);
		--text-md: clamp(1.25rem, 0.59vi + 1.01rem, 1.58rem);
		--text-lg: clamp(1.56rem, 0.98vi + 1.17rem, 2.11rem);
		--text-xl: clamp(1.95rem, 1.53vi + 1.34rem, 2.81rem);
		--text-2xl: clamp(2.44rem, 2.34vi + 1.51rem, 3.75rem);
		--text-3xl: clamp(3.05rem, 3.48vi + 1.66rem, 5rem);
		/* Kerning */
		--tracking-tighter: letter-spacing: -0.05em;
		--tracking-tight: letter-spacing: -0.025em;
	}
	.prose {
		max-width: 65ch;
	}
}
