---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 01 2023")}
  heroImage="/about.webp"
  caption="Generated with Stable Diffusion and Real-ESRGAN">
  <p class="lead">Hey there. &#X1F44B;&#X1F3FB;</p>
  <p>
    I&rsquo;m Gravy, a web developer and enthusiastic student with a love for
    solving the puzzles of the digital world. But that's not all that defines me
    &mdash; I&rsquo;m also a passionate creative writer, hiker, and pianist. My
    goal in life is to <em>explore the labyrinth</em> &mdash; to discover the
    mysteries and wonders God has to offer while welcoming the unknown.
  </p>
</Layout>
