---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("2025-02-22")}
>
  <p>
    <i>Hey there 👋🏻.</i>
  </p><p>
    I&rsquo;m Gravy59, a student programmer who enjoys minimalism and open
    software. I&rsquo;m studying computer science @ Pikes Peak State College. I
    have too many interests to count, but I always returned to computer science
    because it combines a lot of what appeals to me: math, science, and
    creativity.
  </p>
  <p>
    My programming knowledge spans languages like TypeScript, C++, C#, Python,
    and go. I&rsquo;ve crafted tools such as a line sheet generator for hockey
    teams and visualized model rocket simulations using Python. I also am
    well-versed in web development, though most of my side projects are
    unfinished (unique, right?).
  </p>
  <p>
    This website is my corner of the web&mdash;I am responsible for its
    mainenance and appeal to visitors. It is a space for me to share my thoughts
    and accomplishments with the wider world. It&rsquo;s been through many
    iterations, but I hope to rest on <i>this</i> unique yet peaceful design. I hope
    you enjoy your stay.
  </p>
</Layout>
