---
interface Props {
	title: string;
	description: string;
	publishDate: Date;
	link: string;
}
const { title, description, publishDate, link } = Astro.props;
---

<article
	class="flex flex-col items-start border rounded-2xl p-6 hover:bg-indigo-3 relative transition-colors ease-in-out duration-400"
>
	<h3 class="text-lg/7 font-semibold sm:text-base/6 text-balance">
		<a href={link}>
			<span class="absolute z-0 inset-0"></span>
			<span>{title}</span>
		</a>
	</h3>
	<time
		datetime={publishDate.toDateString()}
		class="order-first text-sm text-gray-1100 mb-1.5"
	>
		{
			Intl.DateTimeFormat("en-GB", {
				month: "long",
				year: "numeric",
			}).format(publishDate)
		}
	</time>
	<p class="mt-2 text-sm text-pretty leading-auto">
		{description}
	</p>
</article>
