<footer class="mt-6 border-t border-zinc-600 text-center">
  <dl
    class="mb-2.5 divide-y divide-zinc-600 border-b border-zinc-600 text-base/6 sm:text-sm/6"
  >
    <div class="grid grid-cols-2 gap-6 py-2.5">
      <dt class="col-start-1 place-self-end text-zinc-600">Current mood</dt>
      <dd class="place-self-start">vibing</dd>
    </div>
  </dl>
  <!-- @ts-expect-error -->
  <p xmlns:cc="http://creativecommons.org/ns#">
    Content on this site is licensed under a <a
      class="whitespace-nowrap underline decoration-dotted"
      href="https://creativecommons.org/licenses/by-sa/4.0/"
      rel="license">CC BY-SA 4.0</a
    > license.
  </p>
</footer>
