<header class="bg-white dark:bg-zinc-900">
  <nav
    class="mx-auto flex max-w-3xl items-center flex-col sm:flex-row sm:justify-between py-6"
    aria-label="Global">
    <a href="/" class="-m-1.5 p-1.5 text-2xl text-zinc-800 dark:text-zinc-100">
      Gravy59
    </a>
    <div class="flex text-sm font-medium text-zinc-800 dark:text-zinc-200">
      <a
        href="/about"
        class="relative block px-3 py-2 transition hover:text-orange-500 dark:hover:text-orange-400"
        >About</a
      >
      <a
        href="/posts"
        class="relative block px-3 py-2 transition hover:text-orange-500 dark:hover:text-orange-400"
        >Posts</a
      >
      <a
        href="/projects"
        class="relative block px-3 py-2 transition hover:text-orange-500 dark:hover:text-orange-400"
        >Projects</a
      >
      <a
        href="/tags"
        class="relative block px-3 py-2 transition hover:text-orange-500 dark:hover:text-orange-400"
        >Tags</a
      >
    </div>
  </nav>
</header>
