---
import quotes from "@/quotes.json";
const qotd = quotes[new Date().getDay()];
---

<div class="prose">
  <blockquote>
    <p>{qotd.body}</p>
    <footer>
      —{qotd.author}
      {
        qotd.cite && (
          <>
            {", "}
            <cite>{qotd.cite}</cite>
          </>
        )
      }
    </footer>
  </blockquote>
</div>
