---

---

<blockquote
  class="border-l-2 border-zinc-200 dark:border-zinc-500 my-10 pl-6 italic leading-7 text-zinc-600 dark:text-zinc-400">
  <p class="before:content-open-quote after:content-close-quote">
    Every man is free to rise as far as he's able or willing, but the degree to
    which he thinks determines the degree to which he'll rise.
  </p>
  <footer>&mdash;Ayn Rand, <cite>Atlas Shrugged</cite></footer>
</blockquote>
