---
import quotes from "@/quotes.json";

const qotd = quotes[new Date().getDay()];
---

<blockquote
  class="border-l-2 border-zinc-200 dark:border-zinc-500 my-10 pl-6 italic leading-7 text-zinc-600 dark:text-zinc-400">
  <p>{qotd?.body}</p>
  <footer>
    &mdash;{qotd?.author}{
      qotd?.cite && (
        <>
          {", "}
          <cite>{qotd?.cite}</cite>
        </>
      )
    }
  </footer>
</blockquote>

<style>
  blockquote {
    quotes: "\201C" "\201D" "\2018" "\2019";
  }

  blockquote p:first-of-type {
    @apply before:content-open-quote after:content-close-quote;
  }
</style>
