---
import "../styles/global.css";
import { AstroSeo } from "@astrolib/seo";
import { Image } from "astro:assets";
import logo from "../images/gravy.tiff";

interface Props {
	title?: string;
	description?: string;
	canonical?: string;
	pubDatetime?: Date;
}

const {
	title = "Gravy59",
	description = "Student dev who enjoys free software",
	canonical = new URL(Astro.url.pathname, Astro.site).href,
	pubDatetime,
} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/png" href="/icon.png" />
		<AstroSeo
			title={title}
			titleTemplate="%s | Gravy59"
			description={description}
			{canonical}
			openGraph={{
				url: canonical,
				images: [
					{
						url: "/og-default.png",
						alt: "Gravy59",
						type: "image/png",
						width: 4096,
						height: 4096,
					},
				],
				article: {
					publishedTime: pubDatetime?.toISOString() 
				},
				type: "website",
				description,
			}}
			twitter={{ handle: "@gravy59_" }}
    />
    <meta name="google-site-verification" content="JhrIr-BKdaq_VbNFXz5MUIMc2byw24jmivZ21qzgUwc" />
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="shortcut icon" href="/favicon.ico" />

		<link
			rel="preload"
			href="/assets/Geist[wght].woff2"
			as="font"
			crossorigin
			type="font/woff2"
		/>
	</head>
	<body class="p-8 sm:px-16">
		<div class="overflow-hidden flex flex-col flex-auto">
			<header class="items-center flex mb-8">
				<div class="max-w-2xl lg:max-w-5xl w-full mx-auto">
					<a href="/" rel="home">
						<span class="sr-only">Home</span>
						<Image src={logo} alt="Gravy59" class="w-14" loading="eager" />
					</a>
				</div>
			</header>
			<slot />
			<footer
				class="mt-32 flex-none border-t pb-16 pt-10 max-w-2xl lg:max-w-5xl w-full mx-auto flex flex-col items-center justify-between gap-6 sm:flex-row"
			>
				<dl
					class="flex flex-wrap justify-center gap-x-6 gap-y-1 text-sm font-medium"
				>
					<dt>Current mood:</dt>
					<dd>Vibing</dd>
				</dl>
				<!-- @ts-expect-error -->
				<p
					xmlns:cc="http://creativecommons.org/ns#"
					class="text-sm text-gray-1100"
				>
					The content of this website is licensed under <a
						class="underline"
						href="https://creativecommons.org/licenses/by/4.0/"
						target="_blank"
						rel="license noopener noreferrer">CC&nbsp;BY&#x2011;SA&nbsp;4.0</a
					>.
				</p>
			</footer>
			{
				process.env.NODE_ENV !== "production" && (
					<div class="fixed bottom-1 left-1 z-50 flex h-6 w-6 items-center justify-center rounded-full bg-gray-12 p-3 font-mono text-xs text-white">
						<div class="block sm:hidden">xs</div>
						<div class="hidden sm:block md:hidden">sm</div>
						<div class="hidden md:block lg:hidden">md</div>
						<div class="hidden lg:block xl:hidden">lg</div>
						<div class="hidden xl:block 2xl:hidden">xl</div>
						<div class="hidden 2xl:block">2xl</div>
					</div>
				)
			}
		</div>
	</body>
</html>
